[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
Environment="DJANGO_SETTINGS_MODULE=dwproone.settings.prod"
Environment="SECRET_KEY='p1qkc=stk9$aol^ziq67mdy-mn2!s$a538p$tlj@eht#vdz5#d'"
Environment="db_password='DWproone1234567890@'"
User=dwproone
Group=www-data
WorkingDirectory=/home/dwproone/dwproone
ExecStart=/home/dwproone/env_dw/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          dwproone.wsgi:application
[Install]
WantedBy=multi-user.target